@font-face {
    font-family: titleBlog;
    src: url(/fonts/Title-blog.ttf);
}
@font-face {
    font-family: fontDescription;
    src: url(/fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: fontItems;
    src: url(/fonts/DMSerifDisplay-Italic.ttf)
}
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

body{
    background: #F0E4E5;
    width: 100%;
}

.link-title{
    text-decoration: none;
    color: #000000;
}

.message {
    text-align: center;
    font-family: 'titleBlog';
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 15px;
    
}
.message-autor{
    font-family: cursive;
    font-size: 12px;
    margin-top: 0px;
}
.nav-container{
    text-align: center;
    display: flex;
    background-color: #ffffff;
    opacity: 0.7;
    margin: 25px;
    padding: 15px;
    justify-content: center;
}
.items-menu{
    text-decoration: none;
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'fontItems';
    color: #000000;
}
/* /////////////////////////// */
.section-paths {
    margin: 25px;
    background: #F0E4E5;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.paths-container {
    margin:0;
    padding: 25px;
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    
}

.paths-photos{
    background: #ffffff;
    margin-bottom: 25px;
    width: 33%;
    height: 390px;
}

img {
    width: 305px;
    height: 390px;
}

.photos-info{
    width: 305px;
    height: 170px;
    background-color: #ffffff;
    opacity: 

}
