@font-face {
    font-family: titleBlog;
    src: url(fonts/Title-blog.ttf);
}
@font-face {
    font-family: fontDescription;
    src: url(fonts/AmaticSC-Regular.ttf);
}

@font-face {
    font-family: fontItems;
    src: url(fonts/DMSerifDisplay-Italic.ttf);
}
@media (max-width: 1100px){
    .section-home {flex-direction: column !important;}
    .section-description{font-size: 20px !important;}
}

body{
    background: #F0E4E5;
}

.link-title{
    text-decoration: none;
    color: #000000;
}

.message {
    text-align: center;
    font-family: 'titleBlog';
    font-size: 30px;
    margin-bottom: 0px;
    
}
.message-autor{
    font-family: cursive;
    font-size: 12px;
    margin-top: 0px;
}
.nav-container{
    text-align: center;
    display: flex;
    background-color: #ffffff;
    opacity: 0.7;
    margin: 25px;
    padding: 15px;
    justify-content: center;
}
.items-menu{
    text-decoration: none;
    margin-left: 6%;
    margin-right: 6%;
    font-family: 'fontItems';
    color: #000000;
}
.section-home {
    display: flex;
    margin: 20px;
    background: #F0E4E5;
    align-items: center;
    flex-direction: row;
}
.section-description {
    height: 100%;
    width: 100%;
    padding: 25px;
    margin: 10px;
    box-shadow: 20%;
    font-family: 'fontDescription';
    font-size: 23px;
    text-align: center;
}

.img-description{
    width: 50%;
    height: 50%;
    margin: 10px;
    padding: 5px;
}

img {
    height: 100%;
    width: 100%;
    box-shadow:  0 0 5px rgba(0,0,0,0.6);
}
